$clw: #fff;
$clw-op01: rgba(255, 255, 255, 0.1);
$clw-op02: rgba(255, 255, 255, 0.2);
$clw-op03: rgba(255, 255, 255, 0.3);
$clw-op04: rgba(255, 255, 255, 0.4);
$clw-op05: rgba(255, 255, 255, 0.5);
$clw-op06: rgba(255, 255, 255, 0.6);
$clw-op07: rgba(255, 255, 255, 0.7);
$clw-op08: rgba(255, 255, 255, 0.8);
$clw-op09: rgba(255, 255, 255, 0.9);

$clbl: #333;
$clbl-op01: rgba(51, 51, 51, 0.1);
$clbl-op02: rgba(51, 51, 51, 0.2);
$clbl-op03: rgba(51, 51, 51, 0.3);
$clbl-op04: rgba(51, 51, 51, 0.4);
$clbl-op05: rgba(51, 51, 51, 0.5);
$clbl-op06: rgba(51, 51, 51, 0.6);
$clbl-op07: rgba(51, 51, 51, 0.7);
$clbl-op08: rgba(51, 51, 51, 0.8);
$clbl-op09: rgba(51, 51, 51, 0.9);

$cl01: #6b2800;
$cl01-op01: rgba(107, 40, 0, 0.1);
$cl01-op02: rgba(107, 40, 0, 0.2);
$cl01-op03: rgba(107, 40, 0, 0.3);
$cl01-op04: rgba(107, 40, 0, 0.4);
$cl01-op05: rgba(107, 40, 0, 0.5);
$cl01-op06: rgba(107, 40, 0, 0.6);
$cl01-op07: rgba(107, 40, 0, 0.7);
$cl01-op08: rgba(107, 40, 0, 0.8);
$cl01-op09: rgba(107, 40, 0, 0.9);

$cl02: #ce692f;
$cl02-op01: rgba(206, 105, 47, 0.1);
$cl02-op02: rgba(206, 105, 47, 0.2);
$cl02-op03: rgba(206, 105, 47, 0.3);
$cl02-op04: rgba(206, 105, 47, 0.4);
$cl02-op05: rgba(206, 105, 47, 0.5);
$cl02-op06: rgba(206, 105, 47, 0.6);
$cl02-op07: rgba(206, 105, 47, 0.7);
$cl02-op08: rgba(206, 105, 47, 0.8);
$cl02-op09: rgba(206, 105, 47, 0.9);

$cl03: #fbb96b;
$cl03-op01: rgba(251, 185, 107, 0.1);
$cl03-op02: rgba(251, 185, 107, 0.2);
$cl03-op03: rgba(251, 185, 107, 0.3);
$cl03-op04: rgba(251, 185, 107, 0.4);
$cl03-op05: rgba(251, 185, 107, 0.5);
$cl03-op06: rgba(251, 185, 107, 0.6);
$cl03-op07: rgba(251, 185, 107, 0.7);
$cl03-op08: rgba(251, 185, 107, 0.8);
$cl03-op09: rgba(251, 185, 107, 0.9);

$cl04: #f0b000;
$cl04-op01: rgba(240, 176, 0, 0.1);
$cl04-op02: rgba(240, 176, 0, 0.2);
$cl04-op03: rgba(240, 176, 0, 0.3);
$cl04-op04: rgba(240, 176, 0, 0.4);
$cl04-op05: rgba(240, 176, 0, 0.5);
$cl04-op06: rgba(240, 176, 0, 0.6);
$cl04-op07: rgba(240, 176, 0, 0.7);
$cl04-op08: rgba(240, 176, 0, 0.8);
$cl04-op09: rgba(240, 176, 0, 0.9);

$cl05: #301c0d;
$cl05-op01: rgba(48, 28, 13, 0.1);
$cl05-op02: rgba(48, 28, 13, 0.2);
$cl05-op03: rgba(48, 28, 13, 0.3);
$cl05-op04: rgba(48, 28, 13, 0.4);
$cl05-op05: rgba(48, 28, 13, 0.5);
$cl05-op06: rgba(48, 28, 13, 0.6);
$cl05-op07: rgba(48, 28, 13, 0.7);
$cl05-op08: rgba(48, 28, 13, 0.8);
$cl05-op09: rgba(48, 28, 13, 0.9);

$box-shadow: 0px 1px 20px $clbl-op02;
